<!DOCTYPE html>
<html lang='en' ng-app="bookingApp">
  <head>
    <meta charset="utf-8">
    <title>Booking App</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="js/controllers/BookingController.js"></script>
    <script src="js/services/BookingService.js"></script>
  </head>
  <body>
    <div class='container' ng-controller='BookingController'>
      <h2 class='m-4'> Available Times: </h2>
      <div class='d-flex justify-content-center'>
        <div id='days' ng-repeat="days in week" class='d-flex w-25 flex-column justify-content-start align-items-center'>
          <p>{{ days.day }}</p>
          <div class='times' ng-repeat="startTime in days.startTimes | filter: { possible:true }">
            <button type="button" name="button" class='btn btn-primary btn-sm mt-1' ng-click='booking.startTime.start = startTime.start; booking.startTime.end = startTime.end; booking.day = days.day'>
              {{ startTime.start }} - {{ startTime.end }}
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center m-5">
        <div class='d-flex flex-column align-items-center'>
          <p><label>Hours of Cleaning:</label> <input type="text" ng-model='booking.visitDuration'></p>
          <p>Date: {{ booking.day }}</p>
          <p>Start Timeslot: {{ booking.startTime.start }} - {{ booking.startTime.end }} </p>
          <button type="submit" name="submit" id='submit' class= 'btn btn-primary' ng-click='submit()'>Book!</button>
        </div>
      </div>
      <div id='confirmation' ng-if='confirmation.success'>
        <h3>Booking Confirmed! Your cleaner is {{ confirmation.cleaner.name }}</h3>
      </div>
    </div>
  </body>
</html>
