<!DOCTYPE html>
<html lang='en' ng-app="bookingApp">
  <head>
    <meta charset="utf-8">
    <title>Booking App</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/BookingController.js"></script>
    <script src="js/services/BookingService.js"></script>
  </head>
  <body>
    <div ng-controller='BookingController'>
      <div>
        <label>Hours of Cleaning:</label> <input type="text" ng-model='booking.visitDuration'>
        Date: {{ booking.day }}
        Start: {{ booking.startTime.start }}
        <button type="submit" name="submit" ng-click='submit()'>Book!</button>
      </div>
      <div>
        {{ confirmation }}
      </div>
      <div ng-repeat="days in week">
        {{ days.day }}
        <div ng-repeat="startTime in days.startTimes | filter: { possible:true }">
          <button type="button" name="button" ng-click='booking.startTime.start = startTime.start; booking.day = days.day'>
            {{ startTime.start }} - {{ startTime.end }}
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
